
 <div class="jumbotron">
  <h1 class="display-4">Build a Burger</h1>
  <p class="lead"></p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label for="burger">Burger Kind</label>
          <input type="text" class="form-control" id="product">
        </div>
        <button type="submit" id="addBurger" class="btn btn-primary">Add Burger to List</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <ul id="notDevoured" class="list-group">
        <h2>Not Devoured</h2>
        {{#each burger}}
        {{#unless this.devoured}}

        <li id="{{ this.id }}" class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ this.name }}</h5>
            <button
              data-name="{{ this.name }}"
              class="devour btn btn-success">✓</button>
          </div>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <ul id="devoured" class="list-group">
        <h2>Devoured</h2>
        {{#each burger}}
        {{#if this.devoured}


        <li id="{{ this.id }}" class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ this.name }}</h5>
            <button class="btn btn-danger remove">X</button>
          </div>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div> 